.teambracket-8 {
	display: grid;
	grid-template-columns: repeat(3, 1fr 2px);
	max-width: max-content;
	gap: .5em;

	font-size: 90%;
	margin: 1em 2em 1em 1em;
}

/* top (round names/info) */
.headers {
	display: contents;
}
.headers>div {
	text-align: center;
	height: min-content;
}

/* rounds */
.rd-1 {	grid-column: 1;}
.rd-2 {	grid-column: 3;}
.rd-3 {	grid-column: 5;}

.rd-1.t-1 {	grid-row: 2;}
.rd-1.t-2 {	grid-row: 4;}
.rd-1.t-3 {	grid-row: 6;}
.rd-1.t-4 {	grid-row: 8;}

.rd-2.t-1 {	grid-row: 3;}
.rd-2.t-2 {	grid-row: 7;}

.rd-3.t-1 {	grid-row: 5;}

/* cell layout */
.team {
	display: flex;
}
.team>.team {
	flex: 1;
}

/* colors */
.headers>div,
.team>div {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 0 .2em;
}
.team .seed {
	background-color: #f2f2f2;
}
